.form-container {
  max-width: 1120px;
  width: 98%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input {
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #ccc;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-group input {
  margin-left: 20px;
  accent-color: black;
}

.add-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #008080;
  transition: opacity 0.2s;
}

.add-button:hover {
  opacity: 0.8;
}

/* Responsividade para celulares */
@media (max-width: 750px) {
  .form-container {
    display: grid;
  }

  .add-button {
    margin-top: 10px;
  }
}